name: Publish to PyPi

on:
  release:
    types: [published]

jobs:
  upload:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: Set up Python
      uses: actions/setup-python@v1
      with:
        python-version: "3.8"
    - name: Set release notes tag
      run: |
        export RELEASE_TAG_VERSION=${{ github.event.release.tag_name }}
        echo "RELEASE_TAG_VERSION=${RELEASE_TAG_VERSION:1}" >> $GITHUB_ENV
    - name: Install dependencies
      run: make dev
    # - name: Run all tests, linting and baselines
    #   run: make pr
    - name: Setup doc deploy
      run: |
        git config --global user.name Docs deploy
        git config --global user.email docs@dummy.bot.com
    - name: Release docs website and API reference
      run: |
        make release-docs VERSION=${RELEASE_TAG_VERSION} ALIAS="latest"
        poetry run mike set-default --push latest
    - name: Deploy all docs
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./api
        keep_files: true
        destination_dir: ${{ env.RELEASE_TAG_VERSION }}/api
    - name: Create redirect from old docs
      run: |
        git checkout gh-pages
        git checkout develop -- 404.html
        git add 404.html
        git commit -m "chore: set docs redirect" --no-verify
        git push origin gh-pages -f
    - name: Setup tmate session
      if: ${{ failure() }}
      uses: mxschmitt/action-tmate@v3
      timeout-minutes: 15
